@use '../../shared/styles/base' as *;

.post-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        margin-top: 3rem;
        background-color: $color-primary-light;
        min-height: 30vh;
        word-wrap: break-word;
        max-width: 70vw;
        width: 100%;
        box-shadow: $shadow-primary;
        border-radius: 10rem;
        padding-left: 7rem;
        padding: 3rem;
    }

    &__header {
        margin-bottom: 1.5rem;
    }

    &__displayname {
        color: $color-secondary;
        font-size: 7rem;
        display: flex;
        justify-content: space-between;
    }

    &__username {
        color: $color-secondary;
        font-size: 5rem;
    }

    &__displayname > span:hover,
    &__username > span:hover {
        text-decoration: underline;
        text-decoration-thickness: .3rem;
        cursor: pointer;
    }

    &__date {
        font-size: 5rem;
    }

    &__paragraph {
        font-size: 7rem;
        color: $color-secondary;
        margin-top: 3rem;
    }
}

.comments {
    padding: 3rem;
}