@use '../../styles/base' as *;

.error {
    background-color: $color-warning;
    color: $color-secondary;
    padding: 1.5rem;
    border-radius: 5rem;
    width: 40rem;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-largest) {
        width: 30rem;
        padding: 1rem;
        border-radius: 3rem;
    }

    &__title {
        font-size: 3rem;

        @media only screen and (max-width: $bp-largest) {
            font-size: 2rem;
        }
    }

    &__data li {
        font-size: 2rem;
        margin-left: 1rem;

        @media only screen and (max-width: $bp-largest) {
            font-size: 1.5rem;
            margin-left: .5rem;
        }
    }
}