<div class="login-container" *ngIf="!isLoading">
    <div class="login">
        <h1 class="heading-2 login__title">Pastel</h1>
        <h3 class="heading-3 login__subtitle">Login</h3>
        <form class="form form--login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form__control">
                <label for="email" class="form__label">Email</label>
                <input type="email" class="form__input" id="email" formControlName="email">
                <span *ngIf="email!.invalid && email!.touched" class="form__warning">Email must be a valid email address</span>
            </div>

            <div class="form__control">
                <label for="password" class="form__label">Password</label>
                <input type="password" class="form__input" id="password" formControlName="password">
                <span *ngIf="password!.invalid && password!.touched" class="form__warning">Password is required</span>
            </div>

            <button type="submit" class="btn--form" [disabled]="!loginForm.valid">Submit</button>
        </form>
    </div>
    <div class="error-container-1" *ngIf="loginErr">
        <app-error [title]="loginErr.message" [data]="loginErr.data"></app-error>
    </div>
</div>
<div class="spinner-container--1" *ngIf="isLoading">
    <app-loading-spinner ></app-loading-spinner>
</div>