<div class="login-container">
    <div class="login">
        <h1 class="heading-2 login__title">Pastel</h1>
        <h3 class="heading-3 login__subtitle">Login</h3>
        <form class="form form--login">
            <div class="form__control">
                <label for="email" class="form__label">Email</label>
                <input type="email" class="form__input" id="email">
            </div>

            <div class="form__control">
                <label for="password" class="form__label">Password</label>
                <input type="password" class="form__input" id="password">
            </div>

            <button type="submit" class="btn--form">Submit</button>
        </form>
    </div>
</div>