@use './base' as *;

/// BUTTONS
.btn,
.btn--form {
    border: none;
    width: 25rem;
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    color: $color-secondary;
    font-size: 3rem;
    background-color: $color-primary-dark;
    cursor: pointer;
    transition: all .2s;
    animation: floatInFromBottom 1.5s 1s;
    animation-fill-mode: backwards;

    &:hover {
        transform: translateY(-1rem);
        background-color: $color-primary-light;
    }

    &--form {
        animation: none;
        width: 15rem;
        height: 5rem;
        margin-top: 3rem;

        &:hover {
            transform: translateY(0);
        }

        &:disabled {
            opacity: .3;
            pointer-events: none;
        }
    }
    
}

/// FORM
.form {
    width: 100%;
    display: grid;
    justify-items: center;

    &--login {
        grid-template-rows: repeat(3, 12rem);
    }

    &__control {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    &__label {
        font-size: 2.5rem;
        color: $color-primary-dark;

        &:has(+ .form__input:focus) {
            color: $color-primary;
        }
    }

    &__input {
        border: none;
        width: 100%;
        height: 4rem;
        border-radius: 1rem;
        color: $color-primary-dark;
        font-size: 1.5rem;
        background-color: $color-secondary;
        transition: all .2s;

        &:focus {
            outline: none;
            border-bottom: .4rem solid $color-primary;
        }

        &.ng-invalid.ng-touched {
            border-bottom: .4rem solid $color-warning;
        }
    }

    &__warning {
        color: $color-warning;
        font-size: 1.3rem;
    }

    &__message {
        color: $color-primary-dark;
        font-size: 2.5rem;
        cursor: pointer;

        &--signup {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            padding-left: 8rem !important;
        }
    }
}

//HR
.hr {
    &--1 {
        height: .3rem;
        border: none;
        border-radius: 1rem;
        background-color: rgba($color-secondary, .8);
    }

    &--2 {
        height: .5rem;
        border: none;
        border-radius: 1rem;
        background-color: rgba($color-secondary, .8);
    }
}