@use '../../shared/styles/base' as *;

.post {
    background-color: rgba($color-primary-light, 1);
    grid-template-rows: repeat(4, min-content);
    color: $color-secondary;
    border-radius: 3rem;
    padding-top: 2rem;
    width: 80rem;
    min-height: 20rem;
    word-wrap: break-word;
    margin-top: 5rem;
    padding: 2rem;
    box-shadow: $shadow-primary;
    transition: all .2s;

    &:hover {
        background-color: rgba($color-primary-light, .75);
        cursor: pointer;
    }

    &__author {
        
        &-displayname {
            font-size: 4rem;
            display: flex;
            justify-content: space-between;
            
            & > a:hover {
                text-decoration: underline;
                text-decoration-thickness: .3rem;
            }
        }

        &-username {
            font-size: 3rem;
            margin-bottom: 1rem;

            & > a:hover {
                text-decoration: underline;
                text-decoration-thickness: .3rem;
            }
        }
    }

    &__date {
       font-size: 3rem;
    }

    &__content {
        margin-top: 1rem;
        font-size: 3rem;
    }
}

a {
    text-decoration: none;
    color: $color-secondary;
}