@use '../../../shared/styles/base' as *;

.comment {
    background-color: rgba($color-secondary, .8);
    color: $color-primary;
    margin-top: 3rem;
    height: 15rem;
    border-radius: 3rem;
    box-shadow: $shadow-primary;
    padding: 1.5rem;

    hr {
        background-color: $color-primary;
        height: .3rem;
        border: none;
    }

    &__displayname {
        font-size: 3rem;
    }

    &__username {
        font-size: 2rem;
    }

    &__displayname:hover,
    &__username:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-thickness: .3rem;
    }

    &__content {
        font-size: 4rem;
    }
}