@use '../../../shared/styles/base' as *;

.comment {
    background-color: rgba($color-secondary, .8);
    color: $color-primary;
    margin-top: 3rem;
    min-height: 15rem;
    max-width: 60rem;
    word-wrap: break-word;
    border-radius: 3rem;
    box-shadow: $shadow-primary;
    padding: 1.5rem;

    @media only screen and (max-width: $bp-medium) {
        min-height: 10rem;
    }

    hr {
        background-color: $color-primary;
        height: .3rem;
        border: none;
    }

    &__displayname {
        font-size: 3rem;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
        }
    }

    &__username {
        font-size: 2rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.5rem;
        }
    }

    &__displayname > span:hover,
    &__username > span:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-thickness: .3rem;
    }

    &__date {
        font-size: 2.5rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
        }
    }

    &__content {
        font-size: 4rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 3rem;
        }
    }
}