@use '../../../shared/styles/base' as *;

.new-post{
    background-color: rgba($color-primary-light, 1);
    border-radius: 3rem;
    padding-top: 2rem;
    margin-top: 3rem;
    width: 80rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow-primary;

    @media only screen and (max-width: $bp-large) {
        width: 70rem;
    }

    @media only screen and (max-width: $bp-medium) {
        width: 60rem;
    }

    @media only screen and (max-width: $bp-medium) {
        height: 25rem;
    }

    &__input {
        resize: none;
        border: none;
        color: $color-primary-light;
        font-size: 2.5rem;
        padding: 1.5rem;
        transform: translateY(-1rem);
        background-color: rgba($color-secondary, .65);
        border-radius: 3rem;
        height: 15rem;
        width: 70rem;

        @media only screen and (max-width: $bp-large) {
            width: 60rem;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 50rem;
        }

        @media only screen and (max-width: $bp-small) {
            height: 12rem;
        }

        &:focus {
            outline: none;
            background-color: rgba($color-secondary, .8);
        }
    }

    &__btn {
        height: 6rem;
        width: 12rem;
        margin-top: 2rem;
        border: none;
        padding: 1rem 2rem;
        font-size: 3rem;
        border-radius: 3rem;
        background-color: rgba($color-secondary, .8);
        color: $color-primary-light;
        transition: all .2s;

        @media only screen and (max-width: $bp-small) {
            width: 10rem;
            margin-top: 0;
        }

        &:hover {
            background-color: rgba($color-secondary, 1);
            transform: translateY(-.5rem);
            cursor: pointer;
        }

        &:disabled {
            pointer-events: none;
            opacity: .5;
        }
    }
}