@use '../../shared/styles/base' as *;

.sign-up-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up {
    width: 30%;
    min-height: 70%;
    margin-top: 5vh;
    background-color: rgba($color-secondary, .6);
    grid-column: 2 / 3;
    border-radius: 5rem;
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    row-gap: 1rem;
    justify-items: center;

    @media only screen and (max-width: $bp-largest) {
        min-height: 60%;
        margin-top: 10vh;
    }

    @media only screen and (max-width: $bp-small) {
        height: 100vh;
        width: 100vw;
        margin-top: 0;
        border-radius: 0;
    }

    &__subtitle {
        margin-top: -4rem;

        @media only screen and (max-width: $bp-small) {
            margin-top: -2rem;
        }
    }
}