.home {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 5rem;
    align-items: end;
    justify-content: center;

    &__buttons {
        width: 100%;
        align-self: start;
        display: grid;
        justify-content: center;
        align-items: start;
        grid-template-rows: 1fr 1fr;
        row-gap: 3rem;
    }
}